<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地区管理</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/layui.css">
    <script type="text/javascript" src="__STATIC__/layui.js"></script>
    <style>
        .layui-nav .layui-nav-item {
            line-height: 45px;
        }
    </style>
</head>
<body>
<div class="header">
    <!--
        <span>管理员列表</span>
    -->
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="">地区标签</a></li>
        <!--
                <li class="layui-nav-item" style="float: right;"><button class="layui-btn" onclick="add()"><i class="layui-icon">&#xe608;</i> 添加</button></li>
        -->
    </ul>
</div>

<form class="layui-form">

    <input type="hidden" name="flag" value="area">

    <table class="layui-table">
        <!--colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>-->
        <thead>
        <tr>
            <th>ID</th>
            <th>排序</th>
            <th>标签名称</th>
            <th>是否禁用</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {volist name="data" id="vo"}
        <tr>
            <td>{$vo.id}</td>
            <td><input type="text" value="{$vo.orders}" name="orders[{$vo.id}]" class="layui-input"></td>
            <td class=""><input type="text" value="{$vo.title}" name="title[{$vo.id}]" placeholder="请输入标题"class="layui-input"></td>
            <td ><input type="checkbox" name="status[{$vo.id}]" value="1" title="禁用" {$vo.status?'checked':''}></td>
            <td>
                <button class="layui-btn" onclick="deletes({$vo.id}); return false;">删除</button>
            </td>
        </tr>
        {/volist}

        <tr>
            <td></td>
            <td><input type="text" name="orders[0]" class="layui-input"></td>
            <td class=""><input type="text" name="title[0]" placeholder=""class="layui-input"></td>
            <td ><input type="checkbox" name="status[0]" value="1" title="禁用" ></td>
            <td></td>
        </tr>


        </tbody>
    </table>
</form>
<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn layui-btn-lg" onclick="save(); return false;" >保存</button>
    </div>
</div>
<script>
    layui.use('element', function(){
        var element = layui.element;
        //…
    });
    //Demo
    layui.use(['layer','form'], function(){
        var form = layui.form;
        layer = layui.layer;
        $ = layui.jquery;
    });

    function save() {
        $.post('{:url("labels/save")}',$('form').serialize(),function (res) {
            if (res>0){
                layer.alert(res.msg,{icon:2});
            }else {
                layer.alert(res.msg);
                setTimeout(function () {
                    window.location.reload();
                },1000)
            }
        },'json');
    }
    function deletes(id){
        layer.confirm('确定删除？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.post('{:url("labels/deletes")}',{'id':id},function (res) {
                if (res.code >0 ){
                    layer.alert(res.msg,{icon:2});
                }else {
                    layer.alert(res.msg);
                    setTimeout(function () {
                        window.location.reload();
                    },1000);
                }
            },'json');
        });
    }

</script>

</body>
</html>